<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <section name="configBuilders" type="System.Configuration.ConfigurationBuildersSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </configSections>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

    <configBuilders>
        <builders>
            <add name="AzureAppConfig" mode="Strict" connectionString="${AzureAppConfig_ConnectionString}" keyFilter="TestApp:*" prefix="TestApp:" stripPrefix="true" type="Microsoft.Configuration.ConfigurationBuilders.AzureAppConfigurationBuilder, Microsoft.Configuration.ConfigurationBuilders.AzureAppConfiguration, Version=3.0.0.0, Culture=neutral" />
            <add name="Environment" mode="Strict" prefix="TestApp__" stripPrefix="true" type="Microsoft.Configuration.ConfigurationBuilders.EnvironmentConfigBuilder, Microsoft.Configuration.ConfigurationBuilders.Environment, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        </builders>
    </configBuilders>

    <appSettings configBuilders="Environment, AzureAppConfig">
        <add key="TestKey:AAC" value="" /> <!-- Intentionally left blank for the test -->
        <add key="TestKey:Env" value="" /> <!-- Intentionally left blank for the test -->

        <add key="AzureAppConfig_ConnectionString" value="" />
    </appSettings>
</configuration>